html,
body {
  margin: 1px;
  padding: 0;
}


button{
	vertical-align:middle;
}


span{
	margin-right: 1px;
}


img{
	vertical-align:middle;
}


.container{
	position: relative;
	height: auto !important;
	min-height: 100%;
}


.row_main{
	display: block;
    background-color: #1f324a;
    color: #fff;
    height: 1.2em;
    padding: .5625em .625em;
    font-size: 1.2em;
    text-transform: uppercase;
    line-height: 1.5em;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}


.row{
	display: block;
	background-color: #c3e6cb;    /*#C3E5BB*/
  	color: #000;
  	padding: .5625em .625em;
  	font-size: 1em; 
  	line-height:1.8em;
  	text-transform: none;
    font-weight: 500;	
}


.time_column{
	float: left; 
	display: inline;
}


.no_match_today{
	padding:5px;
	font-size:18px;
	text-align:center;
}

.match_status{
	margin-left:4%; 
	background-color:#081f2c;
	height:auto !important;
	/*min-height: 100%;*/
	min-width: 2em;
	text-align: center;
	float: left;
	color: #fff;
	position: absolute;
	top: .5em;
}

.play_time{
	padding: 0 5px;
}

.score_column{
	position:relative; 
	margin-left:10%;
	width:80%;
	color:black;
	height: auto;
	min-height: 100%;
}


.team_home{
	float:left;
	width: 48%;
	display: inline;
}


.team{
	width:100%; 
	float:right;
	text-align:right;
	display: inline;
}


.team_away{
	display:inline;
	float:right; 
	width: 46%;
}


#home_team{
	width:70%;
	text-align: right;
	font-size: 1em;
}


#away_team{
	width:70%;
	text-align: left;
	font-size: 1em;
}


.home_flag{
	float:right;
	margin-left:0.6em; 
	font-size:1.5em;
}

.away_flag{
	float:left;
	margin-right:0.6em;
	font-size:1.5em;
}


.goals{
	font-size: 1em; 
	background-color: #FFF;
	border: none;
	height: 1.8em;
	min-width: 1.8em; 
	color: black;  
	text-align: center; 
	text-decoration: none; 
	display: inline-block; 
	margin-top:-1%;
}


.home_penalties{
	float:right; 
	margin-left:0.5em;
}


.away_penalties{
	float:left; 
	margin-right:0.5em;
}


.description{
	font-size:0.9em;
	display: block;
	padding:1em;
	line-height:1em;
	height:100%;
	text-transform: none;
	font-weight: 400;
	height:auto;
}

.flash-button{
	background:green;
	padding:5px;
	color:#fff;
	border:none;
	border-radius:5px;
	
	animation-name: flash;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;

	//Firefox 1+
	-webkit-animation-name: flash;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	//Safari 3-4
	-moz-animation-name: flash;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;
}

@keyframes flash {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

